[service]
    address = '0.0.0.0'
    port = 8340
    sslKey = 'classpath:ssl.key'
    sslCert = 'classpath:ssl.crt'
    caCert = 'classpath:ca.crt'
    sslOn = true

[admin]
    name = 'org1-admin'
    password = '123456'

[auth]
    # for issuing token
    name = 'org1'
    expires = 18000 # 5 h

[db]
    # for connect database
    url = 'jdbc:mysql://localhost:3306/wecross_account_manager'
    username = 'root'
    password = ''
