[service]
    address = '0.0.0.0'
    port = 8340
    sslKey = 'classpath:ssl.key'
    sslCert = 'classpath:ssl.crt'
    caCert = 'classpath:ca.crt'
    sslOn = true

[admin]
    username = 'org1-admin'
    password = '123456'

[auth]
    # for issuing token
    name = 'org1'
    expires = 18000 # 5 h
    noActiveExpires = 600 # 10 min
    needMailAuth = false

# if needMailAuth = true
[mail]
    # address for sending email code, must be qq email
    # Should open qq mail sftp, view at https://blog.51cto.com/lawsonabs/3001832
    address = '12345678@qq.com'
    password = 'qq12345678'
    smtpPort = '587'

[encrypt]
    # for http request data encrypt
    privateKeyFile = 'classpath:rsa_private.pem'
    publicKeyFile = 'classpath:rsa_public.pem'

[db]
    # for connect database, you can add other connect configs behind '?'
    # Note: useSSL=false for connect MySQL 8.0+, if you deploy mysql remotely, we recommended you use SSL.
    url = 'jdbc:mysql://localhost:3306/wecross_account_manager?useSSL=false'
    username = 'root'
    password = ''
    # for mysql sensitive fields encrypt
    # if this field is empty of not configured, the encrypt operation will not take place
    encryptKey = 'rIBJD38jqSMR@CSM'

[ext]
    # for image auth code, allow image auth token empty
    allowImageAuthCodeEmpty = true
