# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: actions check

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: install dependencies
        run: sudo apt-get update && sudo apt-get install -y mysql-client jq
      - uses: mirromutth/mysql-action@v1.1
        with:
          mysql root password: '123456'
          mysql database: 'wecross_account_manager'
          collation  server: 'utf8_bin'
      - name: run ci_check.sh
        run: bash .ci/ci_check.sh
        env:
          CI_DB_PASSWORD : '123456'
      - name: run ci_integration_check.sh
        run: bash .ci/ci_integration_check.sh
        env:
          CI_DB_PASSWORD: '123456'
      - name: upload coverage
        run: bash <(curl -s https://codecov.io/bash)
 